@import url("/reset.css");

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(187, 167, 201);
}

/* Home Page Styles */
.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

.header {
    border-bottom: 8px solid purple;
    margin-bottom: 3.2rem;
}

.header_logo {
    padding: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo-pic img {
    border-radius: 50%;
    border: 1px solid purple;
    width: 100%;
    max-width: 420px;
}

h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1;
  margin: 0 0 1rem;  
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /*border: 1px solid purple;*/
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
    max-width: 800px;
    /*text-align: center;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rescue-pic img {
    top:20%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid purple;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    gap: 10px;
}

.btn  {
    background-color: rgb(196, 185, 204);
    border: none;
    color: purple;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    border: 1px solid purple;
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dog-quote, .dog-quotes {
    border: 1px solid purple;
    top: 20%;
    display: flex;
    margin-bottom: 20px;
}

.footer-container {
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top: 8px solid purple;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* About Page Styles */

.about-header {
    border-bottom: 8px solid purple;
    margin-bottom: 3.2rem;
}

.logo-container {
    padding: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.about_header_logo-pic img {
    border-radius: 50%;
    border: 1px solid purple;
    width: 100%;
    max-width: 420px;
    display: flex;
    align-items: center;
}

.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    max-width: 800px;
}

.user-message {
    font-style:italic;
    color: purple;
}

.star-ratings {
    display: inline-block;
    /*font-size: 40px;
    color: black;*/
}

.star {
    font-size: 40px;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 0.5px;
    transition: color 0.2s ease;
    cursor: pointer;
}

.star.selected {
    color: purple;
}

.text {
    font-style:italic;
    color: purple;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid purple;
    background-color: white;
    color: purple;
    border-radius: 5px;
}

.about-container {
    border-top: 8px solid purple;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column
}

/* Dog Fun Page Styles */

.fun-header {
    border-bottom: 8px solid purple;
    margin-bottom: 3.2rem;
}

.fun-container {
    padding: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.fun_header_logo-pic img {
    border-radius: 50%;
    border: 1px solid purple;
    width: 100%;
    max-width: 420px;
    display: flex;
    align-items: center;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1;
    margin: 0 0 1rem;
}

.main-fun {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    max-width: 800px;
}

.fun-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top: 8px solid purple;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

@media (min-width:500px) {

    .header_logo-pic img {
        width: 100%;
        margin-right: 20px;
    }

    .main h1 {
        /*flex-direction: column*/
        max-width: 500px;
        justify-content: center;
        display: flex;
        padding-right: 20px;
    }

    section.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rescue-pic img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

    .btn-container  {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .btn  {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }

    .dog-quote, .dog-quotes img {
        align-items: center;
    }

    .footer-container {
        padding: 12px;
    }
}

@media (min-width: 768px) {
    /* Home Page Styles */
    .main h1  {
        flex-direction: row;
        max-width: 768px;
        justify-content: center;
    }

    .header_logo-pic img {
        width: 100%;
        margin-right: 20px;
    }

    section.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rescue-pic img {
        width: 100px;
        height: 100px;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .btn {
        flex-direction: row;
        align-items: center;
    }

    .dog-quotes img {
        display: flex;
        align-items: center;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        padding: 14px
    }

    /* About Page Styles */
    .about-container {
        display: flex;
        flex-direction: row;
        padding: 14px;
    }

    /* Dog Fun Page Styles */
    .fun-footer-container {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
}
