@import url("./reset.css");

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(187, 167, 201);
}

/* Home Page Styles */
.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

.header {
    border-bottom: 8px solid purple;
    margin-bottom: 3.2rem;
}

.header_logo {
    padding: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo-pic img {
    border-radius: 50%;
    border: 1px solid purple;
    width: 100%;
    max-width: 420px;
}

h1, h2, h3, h4, h5 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1;
  align-items: center; 
  font-size: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section.container {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.rescue-pic {
    display: flex;
    flex-direction: column;
}

.rescue-pic img {
    top:20%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.btn  {
    background-color: white;
    border: none;
    color: purple;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    border: 1px solid purple;
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

.dog-quote, .dog-quotes {
    border: 1px solid purple;
    top: 20%;
    display: flex;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}

.footer-container {
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top: 8px solid purple;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* About Page Styles */

.logo-container {
    padding: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

#userForm {
    font-size: 24px;
}

input {
    border: 1px solid purple;
    background-color: white;
}

.outputList {
    color: purple;
    align-items:flex-end;
}

.user-message {
    font-style:italic;
    color: purple;
    align-items: center;
    font-size: 20px;
}

.star-ratings {
    display: inline-block;
}

.star {
    font-size: 40px;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 0.5px;
    cursor: pointer;
}

.star.selected {
    color: purple;
}

.text {
    font-style:italic;
    color: purple;
    font-size: 20px;
}

button {
    margin-top: 20px;
    padding: 1rem;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid purple;
    background-color: white;
    color: purple;
    border-radius: 10px;
}

/* Dog Fun Page Styles */

.fun-container {
    padding: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.main-fun {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    max-width: 800px;
    margin-left: 10%;
    font-size: 24px;
}

#displayQuestion1, 
#displayQuestion2, 
#displayQuestion3 {
    color: purple;
}

#errorMessage {
    color: red;
}

#message {
    color: purple;
    font-size: 24px;
}

/* Dog Rescue Page Styles */

h1 {
    padding: 10px;
    margin-left: 5%;
}

.main-dog {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    width: 100%;
    max-width: 1000px;
}

.dog-img {
    height: 800px;
    width: 1000px;
    padding: 20px;
    margin-left: 10%;
    object-fit: contain;
}

.breed-dog, .temperament-dog {
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    margin-left: 10%;
    color: purple;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

#submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

@media (min-width:500px) {
    /* Home Page Styles*/
    .main {
        display: flex;
        flex-direction: column;
        max-width: none;
        justify-content: center;
        padding-right: 20px;
    }

    section.container {
        display: flex;
        flex-direction: column;
    }

    .rescue-pic {
        flex-direction: row;
    }

    .rescue-pic img {
        margin-right: 20px;
        flex-direction: row;
    }

    .btn-container  {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .btn  {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }

    .dog-quote {
        height: auto;
        width: 300px;
    }

    .dog-quote img {
        height: auto;
        width: 300px;
    }

    .dog-quotes {
        height: auto;
        width: 300px;
    }

    .dog-quotes img {
        height: auto;
        width: 300px;
    }

    .dog-quote, .dog-quotes img {
        align-items: center;
    }

    /* About Page Styles */
    .main-about {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        max-width: none;
    }

    /* Dog Fun Styles */
    .main-fun {
        flex-direction: column;
        max-width: none;
    }
}

@media (min-width: 768px) {
    /* Home Page Styles */
    .container {
        max-width: 100%;
    }

    .main {
        flex-direction: column;
        max-width: none;
    }

    section.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rescue-pic img {
        display: flex;
        flex-direction: column;
    }

    img {
        max-width: none;
        height: auto;
        width: 600px;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn {
        flex-direction: row;
        align-items: center;
    }

    .dog-quote {
        height: auto;
        width: 400px;
    }

    .dog-quote img {
        height: auto;
        width: 400px;
        max-width: none;
    }

    .dog-quotes {
        height: auto;
        width: 400px;
    }

    .dog-quotes img {
        height: auto;
        width: 400px;
        max-width: none;
    }

    .footer-container  {
        display: flex;
        flex-direction: row;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;
    }

    /* About Page Styles */

    .main-about {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        max-width: none;

    }

    /* Dog Fun Page Styles */

    .main-fun {
        flex-direction: column;
        max-width: none;
    }
}
